apiVersion: v1
kind: Service
metadata:
  name: simple-nginx
  labels:
    app: simple-nginx
spec:
  type: ClusterIP
  selector:
    app: simple-nginx
  ports:
    - name: http
      port: 80
      targetPort: 80
